.container{
    position: absolute;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 1px solid black;
    border-radius: 10px;
}

.container .image{
    width: 400px;
    height: 120px;
    margin: 20px auto;
    background-image: url("./images/beach.jpg");
    background-position: center center;
}

h1,
p{
    text-align: center;
    margin: 20px auto;
}

.lovely-btn{
    display: block;
    background-color: #4169E2;
    color: white;
    font-size: 10px;
    padding: 8px 25px;
    margin: 15px auto;
    border: none;
    border-radius: 3px;    
    box-shadow: 0 0 0 1px #333C66,
                0 0 0 2px #5E65A5,
                0 0 0 3px #333C66; 
}

table,
th,
td{
    background-color: #FEA500;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

table tr td img{
    width:200px;
}